@import '~antd/dist/antd.css';

@font-face {
  font-family: "Avenir";
  src: local("Avenir"),
    url("./fonts/Avenir/AvenirLTStd-Roman.otf") format("otf");
}

html,
body {
  font-family: "Avenir";
}

.ant-select-focused .ant-select-selector,
.ant-select-selector:focus,
.ant-select-selector:active,
.ant-select-open .ant-select-selector {
  border-color: #d9d9d9 !important;
  box-shadow: none !important;
}

a {
  text-decoration: none;
  color: inherit!important;
}
